.row {
  display: flex;
  flex-direction: row;
  align-items: center;

  .explanation {
    margin: 0;
  }

  .selection {
    margin-left: 5rem;
    display: flex;
    flex-direction: row;

    .second-child {
      margin-left: 2rem;
    }
  }
}
