<div id="graph"></div>
<div id="petri-net"></div>

<div class="settings">
  <h1>Settings</h1>

  <div class="row">
    <h5 class="explanation">Select Data:</h5>
    <!-- Select Dataset -->
    <div class="selection">
      <div class="">
      <span class="p-float-label">
        <p-cascadeSelect [options]="tree" optionLabel="name" optionGroupLabel="name"
                         inputId="dataSelectID"
                         [(ngModel)]="selectedTree"
                         [optionGroupChildren]="['folders', 'assets']" [style]="{'minWidth': '14rem'}"
                         (onChange)="loadTree($event)"
        ></p-cascadeSelect>
        <label for="dataSelectID">Select Dataset</label>
      </span>
      </div>
      <div class="">
        <!-- Select Correct Table & Column Entry -->
        <span class="p-float-label second-child" *ngIf="valid_variants?.length">
              <p-cascadeSelect #csTmp
                               [options]="valid_variants" optionLabel="name" optionGroupLabel="name"
                               [(ngModel)]="selectedVariant"
                               inputId="tableSelectId"
                               [optionGroupChildren]="['columns']" [style]="{'minWidth': '14rem'}"
                               (onChange)="updateColumnSelection($event)">

             </p-cascadeSelect>
              <label for="tableSelectId">Select Column</label>
            </span>
      </div>
    </div>
  </div>

  <!-- Cluster Settings  -->
  <div class="row">
    <h5 class="explanation">Select Data:</h5>
    <div class="selection slider">
      <div class="slider-wrapper">
        <p class="slider-header">Min Pts Value: </p>
        <input type="text" pInputText [(ngModel)]="min_pts_val"/>
        <p-slider [(ngModel)]="min_pts_val" [min]="min_pts_min" [max]="min_pts_max"
                  (onSlideEnd)="updateSliderMinPts()"></p-slider>
      </div>
      <div class="slider-wrapper">
        <p class="slider-header">Estimated Number of Clusters: </p>
        <input type="text" pInputText [(ngModel)]="no_clusters_val"/>
        <p-slider [(ngModel)]="no_clusters_val" [min]="no_clusters_min" [max]="no_clusters_max"
                  (onSlideEnd)="updateSliderClusters()"></p-slider>
      </div>
    </div>
  </div>
</div>


<!-- Slider for the Cluster -->
<div class="slider">
</div>

