.slider {
  margin-left: 50px;
  margin-right: 400px;
}

.settings {
  display: flex;
  margin-top: 15px;
}

.padding {
  padding-left: 5rem;
  margin-top: 5px;
  display: flex;
}

.left-padding {
  margin-left: 20px;
}
