<div class="center-list">
  <p-cascadeSelect [(ngModel)]="selectedTree" [options]="tree" optionLabel="name" optionGroupLabel="name"
                   [optionGroupChildren]="['folders', 'assets']" [style]="{'minWidth': '14rem'}"
                   (onChange)="loadTree()"
                   placeholder="Select Dataset"></p-cascadeSelect>

    <p-cascadeSelect [(ngModel)]="selectedTable" [options]="tables" optionLabel="name" optionGroupLabel="name"
                   [optionGroupChildren]="['columns']" [style]="{'minWidth': '14rem'}"
                   (onChange)="updateTableSelection()" *ngIf="tables?.length"
                   placeholder="Select Column"></p-cascadeSelect>

</div>

<div class="slider">
<h5>PrimeNG Slider component</h5>
<h5>Input: {{val}}</h5>
<input type="text" pInputText [(ngModel)]="val" />
<p-slider [(ngModel)]="val" [min]="min" [max]="max"></p-slider>
</div>

