.color {
  margin: 0 0 0 1rem;
  display: inline-block;
  color: var(--color-brand-primary);
}

.varSelection {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

::ng-deep .pieplotbox {
  .pielayer {
    cursor: pointer;
  }

  .p-fieldset.p-component.p-fieldset-toggleable, .p-toggleable-content, .p-fieldset-content, .plot-container, #myDiv1 {
    height: 100%;
  }
}
