.color-test1 {
  background-color: var(--color-brand-primary);
  color: var(--menu-text-color);

  &:hover {
    background-color: var(--color-brand-primary-hover);
  }
}


.color-test2 {
  background-color: var(--bg-lightest-grayish-blue);
  color: var(--default-text-color);
}

.color-test3 {
  background-color: var(--bg-light-grayish-blue);
  color: var(--default-text-color);

  &:hover {
    background-color: var(--color-gray-lightest);
  }
}

.boxes {
  --margin: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 2rem;
  //padding: 30px;
  //margin: var(--margin);

  > * {
    width: 100%;
  }

  .new-card {
    width: 100%;
  }

  .new-double-card {
    width: calc(50% - 0.5 * var(--margin));
  }

  .process-tree-wrapper {
    max-height: 70vh;
    overflow: hidden;
  }

  .card {
    min-height: 600px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    border: 1px solid rgb(252, 252, 252) ;
    border-radius: 20px;
  }

  .double-card, .single-card {
    margin-bottom: var(--margin);
    overflow: hidden;

    &:not(.last-card) {
      max-height: 70vh;
    }
  }

  .last-card {
    margin-bottom: 3rem;
  }

  .double-card {
    justify-content: space-between;
    display: flex;
  }

  .double-card .card {
    max-height: 50vh;
    width: calc(50% - 0.5 * var(--margin));
  }

  .full-width-card .card {
    width: 100%;
  }
}


.color-test1, .color-test2, .color-test3 {
  padding: .5rem 1rem;
  width: fit-content;
}

.test-primary-font {
  font-size: var(--font-size-h3);
  color: var(--color-brand-primary);
}


.main-wrapper {
  margin: 1rem 3rem;
}
