<app-header></app-header>
<div class="main-wrapper">
  <div class="space"></div>

  <settings></settings>

  <!--<h1>CelVis</h1> -->
  <div class="boxes">
    <div class="double-card">
      <div class="card">
        <app-piechart></app-piechart>
      </div>
      <div class="card">
        <characteristic-values></characteristic-values>
      </div>
    </div>

    <div class="double-card">
      <div class="card" id="processTree"></div>
      <div class="card" id="petriNet"></div>
    </div>


    <div class="full-width-card">
      <div class="card">
        <h1>Test Plot</h1>
        <plotly-chart></plotly-chart>
      </div>
    </div>
  </div>

</div>
