<app-header></app-header>
<div class="main-wrapper">
  <div class="space"></div>

  <settings></settings>

  <!--<h1>CelVis</h1> -->
  <div class="boxes">
    <div class="double-card pieplotbox">
      <p-fieldset legend="Case Distribution" [toggleable]="true" [collapsed]="true" [class]="'new-double-card'">
        <app-piechart></app-piechart>
      </p-fieldset>
      <p-fieldset legend="Case Details" [toggleable]="true" [collapsed]="collapsed"
                  (onAfterToggle)="update()" [class]="'new-double-card'">
        <characteristic-values></characteristic-values>
      </p-fieldset>
    </div>

    <div class="single-card">
      <p-fieldset legend="Inductive Miner" [toggleable]="true" [collapsed]="true"
                  [class]="'new-card process-tree-wrapper'">
        <div class="card" id="processTree"></div>
      </p-fieldset>
    </div>

    <div class="single-card">
      <p-fieldset legend="Petri Net" [toggleable]="true" [collapsed]="true" [class]="'new-card process-tree-wrapper'">
        <div class="card" id="petriNet"></div>
      </p-fieldset>
    </div>

    <div class="single-card last-card">
      <p-fieldset legend="Scatter Plot" [toggleable]="true" [collapsed]="true"
                  [class]="'new-card process-tree-wrapper'">
        <plotly-chart></plotly-chart>
      </p-fieldset>
    </div>
  </div>

</div>
