header{
    font-size: larger;
    background-color: var(--menu-background-color);
    color: var(--menu-text-color);
    display: flex;
    align-items: center;
}

.headerspace{
    margin-left: 25px
}

.logo {
    height: 50px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 50px;
}

