header {
  font-size: larger;
  background-color: var(--menu-background-color);
  color: var(--menu-text-color);
  display: flex;
  align-items: center;
  padding: 12px 0;
}

.headerspace {
  margin: 0 0 0 25px;
}

.logo {
  height: 50px;
  margin: 0 0 0 50px;
}

