header {
  font-size: larger;
  background-color: var(--menu-background-color);
  color: var(--menu-text-color);
  display: flex;
  align-items: center;
  padding: 10px;
}


.headerspace {
  margin: 0 0 0 25px;
}

.header_comment {
  margin: 0 0 0 25px;
}

.logo {
  height: 50px;
  margin: 0 0 0 50px;
}

.header_text{
  justify-content:flex-start; 
  display: flex;
  flex-direction: column

}


